body{
    background-color:white
}
div.titulo{
    
    text-align: center;   
    background-color:skyblue
}
hr.medio{
    width: 50%;
}


img.valencia{
   
    height: 150px;
}
p.centradoimg{
    text-align: center;
}
div.azul{
    background-color: blue;
    height: 30px;
}
img.valencia:hover{
    opacity: 0.4;
}
p.centrado{
    
    position: relative;
    left: 500px;
    font-size: 200%;
}
section.blanca{
    background-color: white;
   
}
p.azul{
    color: blue;
    font-weight: bold;

}

div.imagen{
   width: 1000px;
    background-image: url(img/valencia_antigua.jpg) 
}

div.ultimo{
    background-color:skyblue
}
p.mapa{
    text-align: center;
    
}

span.uno:hover{
background-color: skyblue;
}